<footer class="footer bg-dark" id="footer__id">
    <div class="navbar container px-5">
        <p class="pt-2">MásCultura 2022</p>
        <li class="d-flex">
            <a class="" href="https://www.facebook.com/masculturajoven" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/facebook.png" alt="icono facebook"></a>
            <a class=" ps-2" href="https://www.instagram.com/masculturajoven/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/instagram.png" alt="icono instagram"></a>
            <a class=" ps-2" href="https://twitter.com/masculturajoven " target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/twitter.png" alt="icono twitter"></a>
            <a class=" ps-2" href="https://www.youtube.com/channel/UC1UEQT2AuLr_yFhXgkZ-DBg" target="_blank" rel="noopener noreferrer"><img src="../../../assets/img/youtube.png" alt="icono youtube"></a>
        </li>
    </div>
</footer>