* {
  font-weight: 700;
  color: #fff;
  font-size: 14px;
}

.navbar-toggler {
  border-color: #fff;
}

.active-link {
  color: rgb(219, 79, 156);
}

.active-link-tengoMasCultura {
  color: rgb(252, 185, 0);
}

.active-link-oferentesCulturales {
  color: rgb(157, 0, 255);
}

.active-link-novedades {
  color: rgb(0, 88, 255);
}