<section class="queEs" id="queEs__id">
    <div class="queEs__container0 container">
        <h2 class="queEs__container0--h2">¿Qué es MásCultura?</h2>
        <p class="queEs__container0--p">MásCultura tiene como objetivo democratizar y brindar acceso a las juventudes a los bienes,
            servicios y prácticas culturales de todo el país. Una oportunidad para potenciar el acceso a la cultura,
            promover la diversidad de contenidos y reducir desigualdades sociales, económicas y geográficas.
        </p>
    </div>
</section>
