<section class="info" id="info__id">
    <div class="info__container0">
        <h2 class="info__container0--h2 pb-2"><b>¿Qué es MásCultura?</b></h2>
        <p class="info__container0--p">
            Un programa que pone a disposición de jóvenes de todo el país una tarjeta virtual que les permite acceder a beneficios, descuentos y $5000 que
            puede ser utilizada en cines, recitales, festivales, espectáculos, comercios,  teatros, cursos, talleres y otras actividades culturales más.
        </p>
    </div>
    <div class="info__container1">
        <h2 class="info__container1--h2"><b>¿Quiénes pueden inscribirse?</b></h2>
        <p class="info__container1--p">
            <b>
            Pueden acceder titulares de PROGRESAR y jóvenes de entre 18 y 24 años titulares de la Asignación Universal por Hijo, Asignación Universal por
            Embarazo y/o Pensiones no Contributivas por Invalidez.
            </b>
        </p>
    </div>
    <div class="info__container2">
        <h2 class="info__container2--h2">¿Por qué MásCultura?</h2>
        <p class="info__container2--p">MásCultura busca potenciar el consumo de bienes y servicios culturales,  promover su demanda y visibilizar la diversidad de contenidos culturales
            de todo el país. A través de las acciones que promueve el programa se busca reducir las desigualdades sociales, económicas y geográficas.
        </p>
    </div>
</section>

<section class="beneficios" id="beneficios__id">
    <div>
        
    </div>
</section>