.info__container0{
    padding: 130px;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(180deg, rgba(55,180,230,1) 0%, rgba(219,79,156,1) 100%);
}

.info__container1{
    padding: 130px;
    text-align: center;
    font-size: 25px;
    background-image: url(../../../assets/img/img3.png);
    background-size: cover;
    background-position: center;
}

.info__container2{
    padding: 100px;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(180deg, rgba(55,180,230,1) 0%, rgba(219,79,156,1) 100%);
}

@media screen and (max-width:800px){
    .info__container0{
        padding: 70px;
    }
    .info__container1{
        padding: 70px;
    }
    .info__container2{
        padding: 70px;
    }
}