<section class="info" id="info__id">
    <div class="info__container0">
        <h2 class="info__container0--h2 pb-2"><b>¿Qué es MásCultura?</b></h2>
        <p class="info__container0--p">
            Un programa que pone a disposición de jóvenes de todo el país una tarjeta virtual que les permite acceder a beneficios, descuentos y $5000 que
            puede ser utilizada en cines, recitales, festivales, espectáculos, comercios,  teatros, cursos, talleres y otras actividades culturales más.
        </p>
    </div>
    <div class="info__container1">
        <h2 class="info__container1--h2"><b>¿Quiénes pueden inscribirse?</b></h2>
        <p class="info__container1--p">
            <b>
            Pueden acceder titulares de PROGRESAR y jóvenes de entre 18 y 24 años titulares de la Asignación Universal por Hijo, Asignación Universal por
            Embarazo y/o Pensiones no Contributivas por Invalidez.
            </b>
        </p>
    </div>
    <div class="info__container2">
        <h2 class="info__container2--h2">¿Por qué MásCultura?</h2>
        <p class="info__container2--p">MásCultura busca potenciar el consumo de bienes y servicios culturales,  promover su demanda y visibilizar la diversidad de contenidos culturales
            de todo el país. A través de las acciones que promueve el programa se busca reducir las desigualdades sociales, económicas y geográficas.
        </p>
    </div>
</section>

<section class="beneficios" id="beneficios__id">
    <h2 class="pt-5">Conocé los beneficios que hay para vos</h2>
    <div class="conta"> 
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/beneficios-1.png" class="img " alt="beneficios">
            <img src="../../../assets/img/beneficios-2.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-3.png" class="img img_none ms-2" alt="beneficios">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/beneficios-4.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-5.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-6.png" class="img img_none ms-2" alt="beneficios">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/beneficios-7.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-8.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-5.png" class="img img_none ms-2" alt="beneficios">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/beneficios-10.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-11.png" class="img ms-2" alt="beneficios">
            <img src="../../../assets/img/beneficios-12.png" class="img img_none ms-2" alt="beneficios">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <a href="" class="btn btn-outline-dark button mt-4 mb-4">VER MÁS</a>
    </div>

</section>