<section class="logos">
    <div class="container mx-auto">
        <div class="row p-5">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4 container">
                    <img src="../../../assets/img/mas-cultura-logo-footer-1.png" alt="Logo Mas Cultura" class="img">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4 container">
                    <img src="../../../assets/img/BNA-1.png" alt="Logo BNA+" class="img">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4 container">
                    <img src="../../../assets/img/ANSES-logo-footer.png" alt="Logo Anses" class="img">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pt-4 container">
                    <img src="../../../assets/img/Ministerio-de-cultura-2.png" alt="Logo Ministerio de Cultura Argentina" class="img">
            </div>
        </div>
    </div>
</section>
