<section class="oferentesCulturales">
    <div class="oferentesCulturales__container">
        <div class="container container__top pt-5 pb-3 text-center">
            <h1 class="pt-3">Tengo MásCultura</h1>
            <p>Descargá <b>BNA+,</b> adherí la tarjeta virtual a <b>MODO</b> y empezá a disfrutar de tu <b>MásCultura</b>.</p>
        </div>
        <div class="container container__mid p-5">
            <h2 class="text-center pb-4">¿Cómo empiezo a utilizar mi tarjeta MásCultura?</h2>
            <div class="container__card--row row">
                <div class="container__card0 col-sm-6 col-md-6 col-lg-6 col-xl-3 p-4 mx-auto my-4">
                    <hr class="hr__card">
                    <h4>¿Cómo utilizar la <b>BNA+</b>?</h4>
                    <p>Lo primero que tenes que hacer es bajar la app de BNA+ y adherir tu tarjeta virtual.</p>
                    <a href="" class="btn btn-outline- botones">VER MÁS</a>
                </div>
                <div class="container__card1 col-sm-6 col-md-6 col-lg-6 col-xl-3 p-4 mx-auto my-4">
                    <hr class="hr__card">
                    <h4>¿Cómo adherir a <b>Modo</b>?</h4>
                    <p>Para poder pagar con QR en comercios, te recomendamos adherir tu tarjeta virtual a MODO.</p>
                    <a href="" class="btn btn-outline- botones">¿CÓMO? ASÍ</a>
                </div>
                <div class="container__card0 col-sm-6 col-md-6 col-lg-6 col-xl-3 p-4 mx-auto my-4">
                    <hr class="hr__card">
                    <h4>¿Cómo pagar con <b>QR</b>?</h4>
                    <p>Seguí estos pasos simples para para con QR.</p>
                    <a href="" class="btn btn-outline- botones">INSTRUCTIVO</a>
                </div>
            </div>
        </div>
        <div class="container container__preg m-2">
        </div>
    </div>
</section>